/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

		
body {background-image: url("1.jpg");
background-repeat: x;}

* {
   margin: 0;   
   padding: 0; 
}       
nav {
   margin: 50px; 
}       
ul {
   overflow: auto;   
   list-style-type: none; 
}       
li {
   height: 25px;   
   float: left;   
   margin-right: 0px;   
   border-right: 1px solid #aaa;   
   padding: 0 20px; 
}       
li:last-child {
   border-right: none; 
}       
li a {
   text-decoration: none;   
   color: #ccc;   
   font: 25px/1 Helvetica, Verdana, sans-serif;   
   text-transform: uppercase; 
        
   -webkit-transition: all 0.5s ease;   
   -moz-transition: all 0.5s ease;   
   -o-transition: all 0.5s ease;   
   -ms-transition: all 0.5s ease;   
   transition: all 0.5s ease; 
}       
li a:hover {
   color: #666; 
}       
li.active a {
   font-weight: bold;   
   color: #333; 
}
